
Library/

Logs/Packages-Update.log

HelloDLL.csproj

NewAssembly.csproj

obj/Debug/Assembly-CSharp-Editor.csproj.AssemblyReference.cache

obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache

obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

obj/Debug/HelloDLL.csproj.AssemblyReference.cache

obj/Debug/Unity.AddressableImporter.Editor.csproj.AssemblyReference.cache

obj/Debug/Unity.AddressableImporter.Editor.Tests.csproj.AssemblyReference.cache

Unity.AddressableImporter.Editor.csproj

Unity.AddressableImporter.Editor.Tests.csproj

.vs/AddressableSystemProj/v16/.suo

*.csproj

*.sln
